body{
  background-color: lightgrey;
}
.navbar{
    background-color: rgba(60, 28, 119, 0.884);
    margin: 0px;
     padding: 0px;
}
li a{
    color:white;
    font-weight:500;
    font-family:Cambria;
}
ul{
    margin: 0px;
}
.container-fluid{
font-size: 50px;
   
    margin-top: -20px;
    margin-bottom: -30px;
    padding: 40px;
    padding-bottom: 70px;
    background-color: rgb(66, 6, 82);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    padding-top: 20px;
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.dot{
    height: 5px;
  width: 5px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  padding: 1px;
}
.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:80%;
    border-top:1px solid rgba(196, 192, 192, 0.397);
}
div{
    padding-top: 0px;
    margin-left: 50px;
}
.btn{
    float: right;
}
.btn-group{
    padding: 0px;
}
img{
width: 100px;
height: 70px;
}